@charset "UTF-8";

/* ====================================
IE style
==================================== */

/* ------------------------------------
1.0 - Reset Style
------------------------------------ */

/* ------------------------------------
Links
------------------------------------ */

a:hover img {
	filter: alpha(opacity=60);
	zoom: 1;
}

/* ------------------------------------
img
------------------------------------ */

.ie8 img {
	width: auto;
}

/* ------------------------------------
Text level
------------------------------------ */

del {
	filter: alpha(opacity=60);
}

/* ------------------------------------
clearfix 
------------------------------------ */

.clearfix {
	zoom: 1;
}

/* ------------------------------------
3.4.2 contactlink-top
------------------------------------ */

.contactlink-top ul li.feedly a:hover span img {
	filter: alpha(opacity=100);
}

/* ------------------------------------
5.2.1 - section-top
5.13 - paging
6.1.1 - Default Widgets
------------------------------------ */

.entry-title a,
.single .entry-title .post-title,
.paging p,
.widget_tag_cloud a {
	display: inline;
	zoom: 1;
}