@charset "UTF-8";

/* ====================================
Theme Options Style
==================================== */

/* ------------------------------------
Links
------------------------------------ */

.appearance_page_theme_options a {
	outline: none;
	text-decoration: none;
}

/* ------------------------------------
clearfix 
------------------------------------ */

.clearfix:after {
	clear: both;
	content: "";
	display: block;
}

/* ------------------------------------
form
------------------------------------ */

@media (min-width: 641px) {
	.appearance_page_theme_options .theme-left-space {
		margin-left: 1em;
	}

	.appearance_page_theme_options input:invalid {
		-webkit-box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.5);
		box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.5);
	}
}

/* #contact-page */
.appearance_page_theme_options #contact-page {
	margin-top: 1em;
}

/* #option-sidebar */
.appearance_page_theme_options #option-sidebar label {
	text-align: center;
}

.appearance_page_theme_options #option-sidebar input[type="radio"] {
	display: none;
}

.appearance_page_theme_options #option-sidebar img {
	background: #ccc;
	border: solid 2px #fff;
	padding: 1px;
}

.appearance_page_theme_options #option-sidebar input[type="radio"]:checked + img {
	border-color: #ccc;
}

@media (max-width: 640px) {
	.appearance_page_theme_options #option-sidebar img {
		height: auto;
		margin: 5px 5px;
		width: 84px;
	}
}

@media (min-width: 641px) {
	.appearance_page_theme_options #option-sidebar img {
		margin: 5px 10px;
	}
}

.appearance_page_theme_options #option-sidebar label:first-child img {
	margin-left: 0;
}

.appearance_page_theme_options #option-sidebar label:last-child img {
	margin-right: 0;
}

/* submit-button */
.appearance_page_theme_options #submit-button p {
	float: left;
	margin: 0;
}

.appearance_page_theme_options #submit-button p:last-child {
	float: right;
}

.appearance_page_theme_options #submit-button #reset {
	background: #999;
	border-color: #666;
	color: #fff;
	-webkit-box-shadow: inset 0 1px 0 #ccc, 0 1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 1px 0 #ccc, 0 1px 0 rgba(0, 0, 0, .15);
}

.appearance_page_theme_options #submit-button #reset:hover {
	background: #777;
}

/* ------------------------------------
table
------------------------------------ */

.appearance_page_theme_options .addtable table td {
	vertical-align: top;
}

@media (max-width: 640px) {
	.appearance_page_theme_options td>img {
		max-width: 290px;
	}
}

@media (min-width: 641px) {
	.appearance_page_theme_options td>img {
		max-width: 350px;
	}

	.appearance_page_theme_options #option-no-image td>img {
		max-width: 300px;
	}
}

/* ------------------------------------
image media-uploader 
------------------------------------ */

.appearance_page_theme_options .media-upload .remove-open td.upload-button,
.appearance_page_theme_options .media-upload .upload-open td.remove-button {
	display: none;
}

.appearance_page_theme_options .media-upload table td {
	padding-left: 0;
}

.appearance_page_theme_options .media-upload table img {
	border: solid 1px #ddd;
}

.appearance_page_theme_options #option-favicon table img {
	margin-top: 5px;
}

/* ------------------------------------
description
------------------------------------ */

.appearance_page_theme_options span.description,
.appearance_page_theme_options span.description code {
	font-size: 0.9em;
}

.appearance_page_theme_options span.description {
	font-style: normal;
}

.appearance_page_theme_options span.description code {
	background: none;
}

/* ------------------------------------
tab panel (jquery ui tabs)
------------------------------------ */

.appearance_page_theme_options .ui-tabs {
	position: relative;
}

.appearance_page_theme_options .ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
}

.appearance_page_theme_options .ui-tabs .ui-tabs-nav li {
	background: #eee;
	border: solid 1px #ccc;
	border-bottom-width: 0;
	border-radius: 5px 5px 0 0;
	float: left;
	list-style: none;
	margin: 0 3px 0 0;
	position: relative;
	top: 0;
	white-space: nowrap;
}

.appearance_page_theme_options .ui-tabs .ui-tabs-nav li h3 {
	margin: 0;
}

.appearance_page_theme_options .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	color: #666;
	display: block;
	font-size: 0.9em;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	text-decoration: none;
}

.appearance_page_theme_options .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #fff;
	margin-bottom: -1px;
	padding-bottom: 1px;
}

.appearance_page_theme_options .ui-tabs .ui-tabs-nav li:hover {
	background: #aaa;
	border-color: #aaa;
}

.appearance_page_theme_options .ui-tabs .ui-tabs-nav li:hover .ui-tabs-anchor {
	color: #fff;
}

.appearance_page_theme_options .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: default;
}

.appearance_page_theme_options .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}

.appearance_page_theme_options .ui-tabs .ui-tabs-panel {
	background: #fff;
	border: solid 1px #ccc;
	border-radius: 0 5px 5px 5px;
	display: block;
}

@media (max-width: 640px) {
	.appearance_page_theme_options .ui-tabs{
		margin-top: 20px;
	}

	.appearance_page_theme_options .ui-tabs .ui-tabs-panel {
		padding: 20px 10px;
	}
}

@media (min-width: 641px) {
	.appearance_page_theme_options .ui-tabs{
		margin-top: 35px;
	}

	.appearance_page_theme_options .ui-tabs .ui-tabs-panel {
		padding: 30px 20px 40px;
	}
}

/* ------------------------------------
panel caption
------------------------------------ */

.appearance_page_theme_options .panel-caption {
	margin-bottom: 2em;
}

/* ------------------------------------
label right-space
------------------------------------ */

label.right-space {
	padding-right: 2em;
}

label.right-space:last-child {
	padding-right: 0;
}